body {
	background-color: gray;
	max-width: 900px;
	width: 100%;
	box-sizing: border-box;
	margin: auto;
	
}

.heead {
	margin: 0 auto;
	
}
.first__title {
	
	font-size: 72px;
	font-weight: 600;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	
  
}

.accept-span{
	display: block;
	
}
.first__color {
	text-align: left;
	color:white;
	
}
.two-color {
	text-align: center;
	color:blue;
	padding-right: 100px;
	
}
.color__three {
	text-align: right;
	color: red;
	margin-left: 190px;
}
.main {
}

.main__text{
	margin: 50px;
	font-size: 34px;
	font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
}
.section {
}